.BasketModalGeneral
  display: flex
  position: absolute
  align-items: center
  justify-content: center
  height: 100vh
  width: 100vw
  background-color: rgba(255,255,255,0.5)
  top: 0
  left: 0
  z-index: 2
  overflow: hidden

.BasketModalEmpty
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  font-size: 70px
  font-weight: 600
  margin: 0 40px
  text-transform: uppercase
  font-family: 'Poppins'

.BasketModalTitle
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0px 20px

.BasketModalTitleClose
  cursor: pointer

.BasketModalContainer
  display: flex
  flex-direction: column
  // align-items: center
  // justify-content: space-between
  height: 95vh
  max-height: 95vh
  width: 60vw
  // padding: 0px 20px
  // top: 50%
  // left: 50%
  // transform: translate(-50%, -50%)
  background-color: #fff
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15)

  align-self: center
  transition: 1000ms linear
  // overflow: hidden

.BasketModalTitle
  border-bottom: 1px solid #CACDD8
  padding-top: 12px
  padding-bottom: 12px
  h1
    margin: 0
    padding: 0

@media screen and (max-width: 992px)
  .BasketModalContainer
    align-self: center

@media screen and (min-width: 1300px)
  .BasketModalContainer
    align-self: center

@media screen and (max-width: 636px)
  .BasketModalContainer
    align-self: center
.TabletNavbarBasket,
.UserMenuSearch
  cursor: pointer

.BasketModalContent
  width: 100%
  height: 100vh

.BasketModalContentProducts
  height: 80%
  overflow: scroll
  padding: 0px 20px

.BasketProdContainer
  display: flex
  background-color: #fff
  align-items: center
  margin-bottom: 15px
  height: 250px
  width: 100%
  justify-content: space-between
  border-bottom: 1px solid #CACDD8
  overflow: scroll

.BasketProdContainer img
  margin-right: 29px
  height: 100px

.BasketProdContainer span
  margin-right: 26px

.BasketProdContainerCounter
  padding-right: 40px
  font-size: 30px

.BaskedProdCancel
  cursor: pointer
  display: flex
  align-items: center
  justify-content: centerBasketModalBlock

.BasketModalButtonsBlock
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 25px
  align-self: flex-end

.BasketProdContainerTotalPrice,
.BasketProdContainer h1
  font-family: 'Poppins'
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 24px
  text-align: center
  color: #000000

.BasketInput
  // margin-right: 60px
  // margin-left: 60px

.BasketProdContainerTotalPrice
  margin-right: 67px
