.ProductContainer
  display: flex
  flex-wrap: wrap
  align-items: center
  // justify-content: space-around

@media screen and (min-width: 1500px)
  .ProductContainer
    padding-left: 260px
    padding-right: 260px

@media screen and (max-width: 1500px)
  .ProductContainer
    justify-content: center
@media screen and (max-width: 992px)
  .ProductContainer
    padding-left: 20px
    padding-right: 20px

@media screen and (max-width: 508px)
  .ProductContainer
    padding-left: 0
    padding-right: 0

.Product
  display: flex
  flex-direction: column
  width: 234px

.ProductImageContainer
  display: flex
  align-items: center
  justify-content: center
  height: 250px
  width: 184px

.ProductImage
  height: auto
  width: auto

.ProductDescription
  display: flex
  font-weight: 400
  font-size: 13px
  line-height: 20px
  color: #000000

.ProductDescription,
.ProductPrice
  display: flex
  margin-left: 24.5px
  margin-right: 24.5px
  width: 184px
  height: 75px
  justify-content: center
  flex-direction: column

.OldPrice
  text-decoration: line-through
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 140%
  color: #666666
  padding: 0 0 0 0
  margin: 0 0 0 0

.NewPrice
  font-size: 18px
  font-weight: 600
  padding: 0 0 0 0
  margin: 0 0 0 0
  padding-bottom: 20px
  padding-top: 10px

.ProductRating
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

.ProductPrice p
  font-weight: 600
  font-size: 18px
  line-height: 140%
  color: #000000

.ProductImage
  height: 40%
  width: 80%

.ProductButtons
  display: flex
  align-items: center
  flex-direction: column

.ProductToFavourites
  height: 20px
  width: 30px

.ProductToFavourites img
  height: 20px
  width: 20px
