.CheckoutContainer
  padding-left: 260px
  padding-right: 260px
  padding-bottom: 87px

.CheckoutTop
  display: flex
  align-items: center
  h1
    margin-right: 20px

.CheckoutMain
  display: flex
  justify-content: space-between

.CheckoutLeft
  width: 60%

.CheckoutLeftInputsContainer
  border-top: 1px solid #CACDD8
  border-bottom: 1px solid #CACDD8
  padding-bottom: 32px
