.DigitalRadio
  display: flex
  flex-direction: column
  margin-top: 15px
  width: 80%

.DigitalRadioTitle,
.DigitalRadioPrice
  font-weight: 600
  font-size: 13px
  line-height: 20px
  color: #000000

.DigitalRadioMain
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-top: 5px

.DigitalRadioConditions
  display: flex
  align-items: center

.DigitalRadioConditionsRadio
  display: flex
  align-items: center
  justify-content: center
  margin-right: 8px

.DigitalRadioConditionsText
  font-weight: 400
  font-size: 14px
  line-height: 20px
  color: #000000

.DigitalRadioPrice
  font-size: 14px




